Версия инстанса: {{bot_version}}
Юзернейм: {{bot_username}}

Активные типы модерации:{% for type in config.moderation.types %}
- {{type}}{% endfor %}

Активные типы пересылки:{% for type in config.forwarding.types %}
- {{type}}{% endfor %}